<ion-content>
    <ion-list>
      <template v-for="col in pagemeta.tablemeta.fillable" :key="col.table">
        <ion-item v-if="viewitem[col]">
          <ion-label position="stacked"><b>{{pagemeta.tablemeta.languange[$store.state.language].field[col]}}</b></ion-label>
          <template v-if="pagemeta.tablemeta.fieldUpload.indexOf(col)==-1">{{tampil(col)}}</template>
          <template v-if="pagemeta.tablemeta.fieldUpload.indexOf(col)>-1">
            <img :src="tampil(col)" @error="picerror"></template>
        </ion-item>
      </template>
    </ion-list>
    <ion-list class="text-center"> 
        <ion-button @click="closeSingle" size="small">
          <ion-icon class="fa fa-close fa-lg" slot="start" ></ion-icon> Close
        </ion-button>
        <ion-button @click="goEdit" size="small" color="dark">
          <ion-icon class="fa fa-pencil fa-lg" slot="start" ></ion-icon> Edit
        </ion-button>
        <ion-button @click="goDelete" size="small" color="warning">
          <ion-icon class="fa fa-trash fa-lg" slot="start" ></ion-icon> Delete
        </ion-button>
    </ion-list>
</ion-content>